@{
    ViewData["Title"] = "User Login Page";
    Layout = "~/Views/User/_LayoutUser.cshtml";
}
@model PizzaStore.Client.Models.UserViewModel
@using(Html.BeginForm("Main", "Order", null, FormMethod.Post))
{
 //<form action="/order" method="post">
  <div class="container">
    <label for="uname"><b>ID Number</b></label>
    <input type="text" placeholder="Enter ID Number" name="id" required>

    <label for="psw"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" required>

    <button type="submit">Login</button>
  </div>

  
//</form> 
}