@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}
@model PizzaStore.Client.Models.UserViewModel

@using(Html.BeginForm("Home", "User", null, FormMethod.Post))
{
  <button type="submit">User Login</button>
}

@using(Html.BeginForm("Store", "Store", null, FormMethod.Post))
{
  <button type="submit">Store Login</button>
}
